/* .home-page {
    position: fixed;
    inset: 0;
    overflow: auto;
    background-color: #eef1ea;
    background-image: repeating-linear-gradient(45deg,
            #eef1ea,
            #eef1ea 12px,
            #e4e8de 12px,
            #e4e8de 24px);
    z-index: 1;
} */

.home-page {
    position: fixed;
    inset: 0;
    overflow: auto;
    background-color: #eef1ea;
    z-index: 1;
}