.home-page {
    min-height: 100vh;
    background-color: #eef1ea;
    background-image: repeating-linear-gradient(45deg,
            #eef1ea,
            #eef1ea 12px,
            #e4e8de 12px,
            #e4e8de 24px);
}